* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: black;
}
.clock-page {
  width: 60%;
  height: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;

  .timer {
    height: 100%;
    border: 4px solid aliceblue;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    position: relative;
    .balt {
      position: absolute;
      top: 0;
      left: 25%;
      width: 30px;
      height: 60px;
      background-color: azure;
    }
    .b2 {
      margin-left: 110px;
    }
  }
}
